USE [master]
GO
/****** Object:  Database [JobSeeker]    Script Date: 5/8/2017 5:47:24 AM ******/
CREATE DATABASE [JobSeeker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobSeeker', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JobSeeker.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JobSeeker_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\JobSeeker_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobSeeker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobSeeker]
GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 5/8/2017 5:47:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Candidate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FistName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DOJ] [date] NULL,
	[DOB] [date] NULL,
	[JobType] [varchar](10) NULL,
	[JobLocation] [varchar](10) NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SkillSet]    Script Date: 5/8/2017 5:47:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SkillSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[isprimary] [bit] NULL,
	[candidateid] [int] NULL,
	[YearofEx] [float] NULL,
 CONSTRAINT [PK_SkillSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SkillSet]  WITH CHECK ADD  CONSTRAINT [FK_SkillSet_Candidate] FOREIGN KEY([candidateid])
REFERENCES [dbo].[Candidate] ([Id])
GO
ALTER TABLE [dbo].[SkillSet] CHECK CONSTRAINT [FK_SkillSet_Candidate]
GO
USE [master]
GO
