<!--<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<a [routerLink]="['/candidateinfo']">
				Candidate Information
			</a>
		</div> |
		<div class="col-lg-3">
			<a [routerLink]="['/jobinfo']">
				Job Information
			</a>
		</div>
	</div>


</div>-->

<!--<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">

		</div>
		<ul class="nav navbar-nav">
			<li class="active">
				<a [routerLink]="['/candidateinfo']">
					Candidate Info
				</a>
			</li>
			<li>
				<a [routerLink]="['/jobinfo']">
					Job Info
				</a>
			</li>
		</ul>
	</div>
</nav>-->

<!--<div class='arrow_box'>
	<h3>Candidate Info</h3>
</div>-->

<!--<div class="menuitem">
	<h3>vinay Info</h3>
</div>-->


<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="arrowposition">
				<a [routerLink]="['/candidateinfo']">
					<img src="img/arrow.jpg" />
					<div class="text">
						Candidate Info
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="arrowposition">

					<a [routerLink]="['/jobinfo']">
						<img src="img/arrow.jpg" />
						<div class="text">
							Job Info
						</div>
					</a>
			</div>

		</div>
	</div>
</div>





